<nav>
    <ul>
        <li><a href="/">Dashboard</a></li>
        <li><a href="/device-leaderboard">Device Leaderboard</a></li>
        <li><a href="/usage-statistics">Usage Statistics</a></li>
        <li><a href="/search-location">Search Location</a></li>
    </ul>
</nav>
